:root {
	--cms-layout-flex-direction: initial;

	--cms-layout-primary-wrapper-overflow-y: auto;
	--cms-layout-primary-wrapper-overflow-x: hidden;
	--cms-layout-primary-wrapper-width: var(--cms-primary-width);
	--cms-layout-primary-wrapper-min-width: var(--cms-primary-width);
	--cms-layout-primary-wrapper-min-height: initial;

	--cms-layout-primary-max-width: initial;

	--cms-layout-secondary-wrapper-overflow-y: hidden;
	--cms-layout-secondary-wrapper-overflow-x: auto;
	--cms-layout-secondary-wrapper-width: initial;
	--cms-layout-secondary-wrapper-min-height: var(--cms-secondary-height);

	--cms-layout-navigation-max-width: 100%;
	--cms-layout-navigation-width: initial;

	--cms-layout-horizontal-wrapper-max-width: calc(100% - var(--cms-primary-width));
	--cms-layout-horizontal-wrapper-flex-direction: column;

	--cms-layout-content-image-wrapper-max-width: initial;
	--cms-layout-image-flex-grow: 1;

	--cms-layout-logo-float: none;
	--cms-layout-logo-height: var(--cms-logo-height);
	--cms-layout-logo-width: calc(var(--cms-primary-width) - var(--cms-primary-padding-left) - var(--cms-primary-padding-right));

	--cms-layout-primary-justify-content: initial;
	--cms-layout-primary-menu-item-justify-content: var(--cms-primary-justify-content);
	--cms-layout-primary-menu-item-align-items: center;
	--cms-layout-primary-menu-item-padding: var(--cms-menu-item-padding-y) var(--cms-primary-padding-right) var(--cms-menu-item-padding-y) var(--cms-primary-padding-left);
	--cms-layout-primary-hr-display: block;

	--cms-layout-title-float: left;
	--cms-layout-title-line-height: calc(var(--cms-secondary-height) - var(--cms-secondary-padding-top) - var(--cms-secondary-padding-bottom) - var(--cms-secondary-border-bottom));

	--cms-layout-secondary-justify-content: flex-end;
	--cms-layout-secondary-menu-item-justify-content: center;
	--cms-layout-secondary-menu-item-align-items: center;
	--cms-layout-secondary-menu-item-padding: 0 var(--cms-menu-item-padding-x);
	--cms-layout-secondary-hr-display: none;

	--cms-primary-menu-flex-direction: column;
	--cms-primary-white-space: initial;
	--cms-secondary-menu-flex-direction: initial;
	--cms-secondary-white-space: nowrap;
}