:root {
	--cms-layout-flex-direction: column;

	--cms-layout-primary-wrapper-overflow-y: hidden;
	--cms-layout-primary-wrapper-overflow-x: auto;
	--cms-layout-primary-wrapper-width: initial;
	--cms-layout-primary-wrapper-min-width: initial;
	--cms-layout-primary-wrapper-min-height: var(--cms-primary-height);

	--cms-layout-primary-max-width: initial;

	--cms-layout-secondary-wrapper-overflow-y: hidden;
	--cms-layout-secondary-wrapper-overflow-x: auto;
	--cms-layout-secondary-wrapper-width: initial;
	--cms-layout-secondary-wrapper-min-height: var(--cms-secondary-height);

	--cms-layout-navigation-max-width: 100%;
	--cms-layout-navigation-width: var(--cms-content-width, auto);

	--cms-layout-horizontal-wrapper-max-width: initial;
	--cms-layout-horizontal-wrapper-flex-direction: column;

	--cms-layout-content-image-wrapper-max-width: 100%;
	--cms-layout-image-flex-grow: initial;

	--cms-layout-logo-float: left;
	--cms-layout-logo-height: calc(var(--cms-primary-height) - var(--cms-primary-padding-top) - var(--cms-primary-padding-bottom) - var(--cms-primary-border-bottom));
	--cms-layout-logo-width: var(--cms-logo-width);

	--cms-layout-primary-justify-content: flex-end;
	--cms-layout-primary-menu-item-justify-content: center;
	--cms-layout-primary-menu-item-align-items: center;
	--cms-layout-primary-menu-item-padding: 0 var(--cms-menu-item-padding-x);
	--cms-layout-primary-hr-display: none;

	--cms-layout-title-float: left;

	--cms-layout-secondary-justify-content: flex-end;
	--cms-layout-secondary-menu-item-justify-content: center;
	--cms-layout-secondary-menu-item-align-items: var(--cms-secondary-justify-content);
	--cms-layout-secondary-menu-item-padding: 0 var(--cms-menu-item-padding-x);
	--cms-layout-secondary-hr-display: none;

	--cms-image-display: none;
	--cms-content-margin-y: auto;

	--cms-primary-menu-flex-direction: initial;
	--cms-primary-white-space: nowrap;
	--cms-secondary-menu-flex-direction: initial;
	--cms-secondary-white-space: nowrap;
}