{contentType text/css}
{spaceless}
	{include 'setup.latte'|noescape}
	{if file_exists(__DIR__ . '/theme-' . $themeData->code . '.latte')}{include 'theme-' . $themeData->code . '.latte'|noescape}{/}
	{if file_exists(__DIR__ . '/layout-' . $l['code'] . '.latte')}{include 'layout-' . $l['code'] . '.latte'|noescape}{/}
	{if file_exists(__DIR__ . '/web-' . $webData->code . '.latte')}{include 'web-' . $webData->code . '.latte'|noescape}{/}
{/spaceless}
