:root {
	--cms-cvut-light-primary-bg: var(--cms-primary);
	--cms-cvut-light-primary-active-link-color: var(--cms-primary);
	--cms-cvut-light-secondary-link-color: var(--cms-primary);
	--cms-cvut-light-secondary-active-link-color: var(--cms-primary);
	--cms-cvut-light-side-link-color: var(--cms-primary);
	--cms-cvut-light-side-active-link-color: var(--cms-primary);
	--cms-cvut-light-link-color: var(--cms-primary);
	--cms-cvut-light-link-color-rgb: var(--cms-primary-rgb);
}