modules:
	Core:
		namespace: Webovac
		isPackage: true
		entities:
			Asset:
			Lib:
			Log:
			Person:
			File:
				entityImplements:
					Webovac\Core\Model\HasTranslations:
			FileTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Language:
				entityImplements:
					Webovac\Core\Model\HasTranslations:
			LanguageTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Module:
				entityImplements:
					Webovac\Core\Model\Page\HasPages:
					Webovac\Core\Model\HasTranslations:
					Stepapo\Model\Orm\PostProcessable:
			ModuleTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Page:
				entityImplements:
					Webovac\Core\Model\Linkable:
					Webovac\Core\Model\Renderable:
					Webovac\Core\Model\Page\HasPages:
					Webovac\Core\Model\HasTranslations:
					Webovac\Core\Model\File\HasFiles:
					Stepapo\Model\Orm\PostProcessable:
			PageTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Preference:
			Parameter:
			Path:
			Role:
			Signal:
			Slug:
			Text:
				entityImplements:
					Webovac\Core\Model\HasTranslations:
			TextTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Web:
				entityImplements:
					Webovac\Core\Model\Page\HasPages:
					Webovac\Core\Model\HasTranslations:
					Webovac\Core\Model\File\HasFiles:
					Stepapo\Model\Orm\PostProcessable:
			WebTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
