modules:
	Core:
		namespace: Webovac
		isPackage: true
		entities:
			Asset:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			Deploy:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			Lib:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			Log:
			Person:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			File:
				entityImplements:
					Webovac\Core\Model\HasTranslations:
			FileTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Language:
				entityImplements:
					Webovac\Core\Model\HasTranslations:
			LanguageTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Module:
				entityImplements:
					Webovac\Core\Model\Page\HasPages:
					Webovac\Core\Model\HasTranslations:
				repositoryImplements:
					Stepapo\Model\Orm\PostProcessable:
					Stepapo\Model\Orm\InternalRepository:
			ModuleTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Page:
				entityImplements:
					Webovac\Core\Model\Linkable:
					Webovac\Core\Model\Renderable:
					Webovac\Core\Model\Page\HasPages:
					Webovac\Core\Model\HasTranslations:
					Webovac\Core\Model\File\HasFiles:
					Webovac\Core\Model\HasRequirements:
				repositoryImplements:
					Stepapo\Model\Orm\PostProcessable:
			PageTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
			Preference:
			Parameter:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			Path:
			Role:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			Signal:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			Slug:
			Text:
				entityImplements:
					Webovac\Core\Model\HasTranslations:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			TextTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
			Web:
				entityImplements:
					Webovac\Core\Model\Page\HasPages:
					Webovac\Core\Model\HasTranslations:
					Webovac\Core\Model\File\HasFiles:
				repositoryImplements:
					Stepapo\Model\Orm\PostProcessable:
					Stepapo\Model\Orm\InternalRepository:
			WebTranslation:
				entityImplements:
					Webovac\Core\Model\Translation:
				repositoryImplements:
					Stepapo\Model\Orm\InternalRepository:
