name: Core - access Error
identity:
	id: 1
	roles: admin
asserts:
	httpCode: 404
requests:
#	wrong host:
#		path: //tst # TODO konfigurovatelny error presenter RequestTester:155
#	wrong path:
#		path: //test/webz # netestovatelne, 404 vyhazuje Router
	wrong id:
		path: //test/weby/999
