name: Core - signal Core
path: //test
identity:
	id: 1
	roles: admin
requests:
	language:
		query:
			language: en
			do: setLanguage
		asserts:
			renders: 'content="://test/en"'
	theme:
		query:
			theme: 3
			do: setTheme
		asserts:
			renders: theme-default-dark
			notRenders: theme-default-light