{templateType Webovac\Core\Control\Messages\MessagesTemplate}
<div n:snippet class="alert-wrapper">
	<div n:foreach="$messages as $flash" n:class="alert-main, alert, 'alert-' . $flash->type, alert-dismissible" role="alert">
		{$flash->message}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> × </button>
	</div>
</div>
