{templateType Webovac\Core\Control\Breadcrumbs\BreadcrumbsTemplate}
<div class="breadcrumbs" n:inner-foreach="$crumbs as $crumb">
	<a href="{$crumb['link']}">{$crumb['title']|noescape}</a>
	<span n:sep class="separator"> : </span>
</div>
