class: App\Model\Text\TextData
items:
	Administrace: [cs: Administrace, en: Administration]
	Odhlásit: [cs: Odhlásit, en: Sign out]
	Předchozí: [cs: Předchozí, en: Previous]
	Další: [cs: Další, en: Next]
	Název: [cs: Název, en: Title]
	Host: [cs: Host, en: Hostname]
	Cesta: [cs: Cesta, en: Path]
	Kód: [cs: Kód, en: Code]
	Popis: [cs: Popis, en: Description]
	Zkratka: [cs: Zkratka, en: Shortcut]
	Pořadí: [cs: Pořadí, en: Rank]
	Osoba: [cs: Osoba, en: Person]
	Web: [cs: Web, en: Website]
	Zařízení: [cs: Zařízení, en: Device]
	OS: [cs: OS, en: OS]
	Prohlížeč: [cs: Prohlížeč, en: Browser]
	Rozlišení: [cs: Rozlišení, en: Resolution]
	Počet kroků: [cs: Počet kroků, en: Step count]
	Doba: [cs: Doba, en: Duration]
	Datum: [cs: Datum, en: Date]
	Stránka: [cs: Stránka, en: Page]
	Signál: [cs: Signal, en: Signal]
	Parametry: [cs: Parametry, en: Parameters]
	Odkaz: [cs: Odkaz, en: Link]
	Entita: [cs: Entita, en: Entity]
	Typ: [cs: Typ, en: Type]
	Autor: [cs: Autor, en: Author]
	page: [cs: stránka, en: page]
	web: [cs: web, en: website]
	module: [cs: modul, en: module]
	language: [cs: jazyk, en: language]
	layout: [cs: layout, en: layout]
	Vytvořeno: [cs: Vytvořeno, en: Created]
	Upraveno: [cs: Upraveno, en: Updated]
	Obsah: [cs: Obsah, en: Content]
	Nastavení: [cs: Nastavení, en: Settings]

	Vyplňte pole %label: [cs: Vyplňte pole %label, en: Fill %label]
	The size of the uploaded file can be up to %d bytes.: [cs: Velikost nahraného souboru může být nejvíce %d bytů., en: The size of the uploaded file can be up to %d bytes.]
	Vyberte ze seznamu %label: [cs: Vyberte ze seznamu %label, en: Select %label]
	Vyberte...: [cs: Vyberte..., en: Select...]
	Please enter a valid number.: [cs: Zadejte platné číslo., en: Please enter a valid number.]
	Please enter a valid integer.: [cs: Zadejte platné číslo., en: Please enter a valid integer.]

	Logo: [cs: Logo, en: Logo]
	Barva: [cs: Barva, en: Color]
	Doplňková barva: [cs: Doplňková barva, en: Complement color]
	Pozadí ikony: [cs: Pozadí ikony, en: Icon background]
	Ikona: [cs: Ikona, en: Icon]
	Musíte nahrát obrázek: [cs: Musíte nahrát obrázek, en: You have to upload a file]
	Pozadí: [cs: Pozadí, en: Background]
	Layout: [cs: Layout, en: Layout]
	Výchozí jazyk: [cs: Výchozí jazyk, en: Default language]
	Jazyk: [cs: Jazyk, en: Language]
	Přidat překlad: [cs: Přidat překlad, en: Add translation]
	Uložit: [cs: Uložit, en: Save]

	Překlady: [cs: Překlady, en: Translations]

	Menu: [cs: Menu, en: Menu]
	Navigace: [cs: Navigace, en: Navigation]
	Tlačítka: [cs: Tlačítka, en: Buttons]
	Rozcestník: [cs: Rozcestník, en: Signpost]
	x: [cs: x, en: x]
	Přidat překlad tématu: [cs: Přidat překlad tématu, en: Add theme translation]
	Přidat zařízení: [cs: Přidat zařízení, en: Add device]
	Přidat téma: [cs: Přidat téma, en: Add theme]

	Obecné: [cs: Obecné, en: General]
	Zobrazit: [cs: Zobrazit, en: Show]
	Typ písma: [cs: Typ písma, en: Font family]
	Font: [cs: Písmo, en: Font]
	Velikost písma: [cs: Velikost písma, en: Font size]
	Velikost: [cs: Velikost, en: Size]
	Logo šířka: [cs: Logo šířka, en: Logo width]
	Logo výška: [cs: Logo výška, en: Logo height]
	Text: [cs: Text, en: Text]
	Nadpis: [cs: Nadpis, en: Heading]
	Aktivní: [cs: Aktivní, en: Active]
	Orientace primární nabídky: [cs: Orientace primární nabídky, en: Primary orientation]
	Orientace sekundární nabídky: [cs: Orientace sekundární nabídky, en: Secondary orientation]
	Horizontální: [cs: Horizontální, en: Horizontal]
	Vertikální: [cs: Vertikální, en: Vertical]
	Výplň: [cs: Výplň, en: Background]
	Okraj: [cs: Okraj, en: Border]
	Border: [cs: Okraj, en: Border]
	Šířka: [cs: Šířka, en: Width]
	Margin: [cs: Margin, en: Margin]
	Primární: [cs: Primární, en: Primary]
	navigace: [cs: navigace, en: navigation]
	Výška: [cs: Výška, en: Height]
	Padding: [cs: Padding, en: Padding]
	Zalomit: [cs: Zalomit, en: Break]
	Sekundární: [cs: Sekundární, en: Secondary]
	Postranní: [cs: Postranní, en: Side]
	odkazy: [cs: odkazy, en: links]
	aktivní: [cs: aktivní, en: active]
	Ikony: [cs: Ikony, en: Icons]
	Zabalit: [cs: Zabalit, en: Collapse]
	Uložit změny: [cs: Uložit změny, en: Save changes]

	Odebrat: [cs: Odebrat, en: Remove]
	Přidat: [cs: Přidat, en: Add]

	Akce: [cs: Akce, en: Action]
	Interní odkaz: [cs: Interní odkaz, en: Internal link]
	Externí odkaz: [cs: Externí odkaz, en: External link]
	Oddělovač: [cs: Oddělovač, en: Separator]
	Modul: [cs: Modul, en: Module]
	Styl: [cs: Styl, en: Style]
	Obrázek: [cs: Obrázek, en: Image]
	Cílová stránka: [cs: Cílová stránka, en: Target page]
	Nevybírat: [cs: Nevybírat, en: Not selected]
	Rodičovský parametr cílové stránky: [cs: Rodičovský parametr cílové stránky, en: Target page parent parameter]
	Parametr cílové stránky: [cs: Parametr cílové stránky, en: Target page parameter]
	Cílová adresa: [cs: Cílová adresa, en: Target URL]
	Široké zobrazení: [cs: Široké zobrazení, en: Stretched display]
	Skrýt v navigaci: [cs: Skrýt v navigaci, en: Hide in navigation]
	Skrýt v navigaci a v tlačítkách: [cs: Skrýt v navigaci a v tlačítkách, en: Hide in navigation and buttons]
	Obsahuje navigaci: [cs: Obsahuje navigaci, en: Provides navigation]
	Obsahuje tlačítka: [cs: Obsahuje tlačítka, en: Provides buttons]
	Stránka s parametrem: [cs: Stránka s parametrem, en: Page with parameter]
	Repozitář: [cs: Repozitář, en: Repository]
	Stránka se dvěma parametry: [cs: Stránka se dvěma parametry, en: Page with two parameters]
	Repozitář rodiče: [cs: Repozitář rodiče, en: Parent repository]
	Ignorovat cestu nadřazených stránek: [cs: Ignorovat cestu nadřazených stránek, en: Ignore parent path]
	Ignorovat oprávnění nadřazených stránek: [cs: Ignorovat oprávnění nadřazených stránek, en: Ignore parent requirements]
	Zobrazit/zpřístupnit pro: [cs: Zobrazit/zpřístupnit pro, en: Show/allow for]
	Všechny: [cs: Všechny, en: Everyone]
	Všechny přihlášené: [cs: Všechny přihlášené, en: All logged users]
	Některé přihlášené: [cs: Některé přihlášené, en: Some logged users]
	Jen nepřihlášené: [cs: Jen nepřihlášené, en: Only guests]
	Oprávněné role: [cs: Oprávněné role, en: Authorized roles]
	Oprávněné osoby: [cs: Oprávněné osoby, en: Authorized persons]
	Tag: [cs: Tag, en: Tag]
	Tag rodiče: [cs: Tag rodiče, en: Parent tag]
