{varType string $signInLink}

{block content}

<h1 n:block=title>Vyžadováno přihlášení</h1>

<p>
	Pro přístup ke stránce se prosím <a href="{$signInLink}">přihlaste</a>.
</p>

<div>
	<a href="javascript:history.back()" class="btn btn-primary"><i class="fas fa-fw fa-arrow-left"></i> Zpět</a>
</div>
