{templateType Webovac\Core\Control\Menu\MenuTemplate}
<div class="wrapper navigation-wrapper primary-navigation-wrapper" n:snippet>
	<div class="navigation primary-navigation">
		<a class="logo clearfix" href="{plink '//Home:', $homePageData->name}">
			{if $layoutData->code === 'cvut'}
				<img src="{$baseUrl}/dist/images/logo-lion.svg">
				<div class="logo-wrapper d-none d-xxl-block">
					<img src="{$baseUrl}/dist/images/logo-cvut-text.svg">
					<span n:class="logo-text, strlen($title) > 4 ? logo-text-long : logo-text-short">{$title}</span>
				</div>
				<div class="logo-wrapper d-block d-xxl-none">
					<img src="{$baseUrl}/dist/images/logo-fsv-text.svg">
				</div>
			{else}
				<img class="logo-img" src="{$baseUrl}/{$logoUrl}">
				<div class="spinner-border text-primary"></div>
			{/}
		</a>
		<div class="d-flex">
			<a href="#" class="menu-button side-button user-button" n:if="$cmsUser->isLoggedIn() && !$layoutData->hideSidePanel"><i n:class="$layoutData->primaryIcon, fa-fw, fa-circle-user"></i></a>
			<a href="#" class="menu-button side-button search-button" n:if="$hasSearch && !$layoutData->hideSidePanel"><i n:class="$layoutData->primaryIcon, fa-fw, fa-magnifying-glass"></i></a>
			<a href="#" class="menu-button" id="menu-button"><i n:class="$layoutData->primaryIcon, fa-fw, fa-bars"></i></a>
		</div>
		<div class="menu flex-grow-1" id="menu" n:inner-foreach="$pageDatas as $p">
			{renderMenuItem($p)}
		</div>
		<div class="menu" n:if="$layoutData->hideSidePanel && $cmsUser->isLoggedIn()">
			<div n:if="$hasSearch && !$isError" class="search menu-item">
				{$presenter->getComponent('search-searchForm')->render()}
			</div>
			<div class="languages" n:if="count($webData->translations) > 1 && !$isError" n:inner-foreach="$webData->translations as $translation">
				{var $l = $dataModel->getLanguageData($translation->language)}
				{var $t = $l->getCollection('translations')->getByKey($languageData->id) ?: $l->getCollection('translations')->getByKey($webData->defaultLanguage)}
				{ifset $availableTranslations[$l->id]}
					{if $cmsUser->isLoggedIn()}
						<a n:if="$t" href="{plink '//this', language: $l->shortcut, do: 'setLanguage'}" n:class="gray, $languageData->id === $l->id ? active" data-tooltip="{$t->title}" data-tooltip-position="left">
							<img src="/dist/images/languages/{$l->shortcut}.svg">
						</a>
					{else}
						<a href="{plink '//default', $pageData->name, $entity?->getParameters(), lang: $l->shortcut}" n:class="gray, $languageData->id === $l->id ? active" data-tooltip="{$t->title}" data-tooltip-position="left">
							<img src="/dist/images/languages/{$l->shortcut}.svg">
						</a>
					{/}
				{else}
					<div n:class="gray, $languageData->id === $l->id ? active" data-tooltip="{$l->getCollection('translations')->getByKey($languageData->id)->title} nedostupné" data-tooltip-position="left">
						<img src="/dist/images/languages/{$l->shortcut}.svg">
					</div>
				{/}
			</div>
			<div class="languages" n:if="isModuleInstalled('style') && $cmsUser->isLoggedIn() && count($themeDatas) > 1 && !$isError" n:inner-foreach="$themeDatas as $themeData">
				{var $translation = $themeData->getCollection('translations')->getByKey($languageData->id) ?: $themeData->getCollection('translations')->getByKey($webData->defaultLanguage)}
				<a n:if="$translation" href="{plink '//this', 'theme' => $themeData->id, 'do' => 'setTheme'}" data-tooltip="{$translation->title}" data-tooltip-position="left">
					<div n:class="badge, rounded-circle, $presenter->template->themeData->code === $themeData->code ? text-bg-primary : text-bg-light" style="--bs-badge-padding-x: 0.55em">{$translation->title|truncate:1,''}</div>
				</a>
			</div>
			<a class="menu-item" href="{if isModuleInstalled('auth')}{plink '//auth-out!'}{elseif isModuleInstalled('fsvAuth')}{plink '//fsvAuth-out!'}{/}">
				<i n:class="$layoutData->primaryIcon, fa-fw, fa-power-off"></i><span>{_'Odhlásit'}</span>
			</a>
		</div>

	</div>
</div>
