{templateType Webovac\Core\Control\Menu\MenuTemplate}
<div class="navigation-wrapper primary-navigation-wrapper" n:snippet>
	<div class="navigation primary-navigation">
		<a class="logo clearfix" href="{plink '//Home:', $homePageData->name}">
			{if $layoutData->code === 'cvut'}
				<img src="{$baseUrl}/dist/images/logo-lion.svg">
				<div class="logo-wrapper d-none d-xxl-block">
					<img src="{$baseUrl}/dist/images/logo-cvut-text.svg">
					<span n:class="logo-text, strlen($title) > 4 ? logo-text-long : logo-text-short">{$title}</span>
				</div>
				<div class="logo-wrapper d-block d-xxl-none">
					<img src="{$baseUrl}/dist/images/logo-fsv-text.svg">
				</div>
			{else}
				<img class="logo-img ajax-hide" src="{$baseUrl}/{$logoUrl}">
				<div class="ajax-spinner spinner-border text-primary"></div>
			{/}
		</a>
		<div class="menu flex-grow-1" id="menu">
			{foreach $pageDatas as $p}
				{if $layoutData->hideSidePanel && !$isError}
					{if $p->name === 'Search:Home'}
						{include search.latte}
					{elseif in_array($p->name, ['Auth:Name', 'FsvAuth:Name'], true)}
						{include auth.latte}
					{/}
				{/}
				{* *}
				{if $p->type === App\Model\Page\Page::TYPE_SEPARATOR}
					<hr>
				{else}
					{var $t = $p->getCollection('translations')->getByKey($languageData->id) ?: $p->getCollection('translations')->getByKey($webData->defaultLanguage)}
					{var $targetLanguageData = $t ? $languageData : $defaultLanguageData}
					{var $checkActive = $p->targetAnchor ? false : ($p->targetPage ? $p->targetPage !== $webData->homePage : $p->id !== $webData->homePage)}
					<a n:tag="$p->type === App\Model\Page\Page::TYPE_TEXT ? 'div' : 'a'" n:attr='href: $control->getHref($p), data-confirm: $p->ajax && $t->onclick ? $t->onclick, onclick: !$p->ajax && $t->onclick ? "return confirm(\"$t->onclick\")", data-naja-history: $p->ajax ? "off"' n:if="!$p->hideInNavigation" n:class="$control->getClass($p, $checkActive), $p->ajax ? ajax">
						<i n:if="$p->icon" n:class="$layoutData->primaryIcon, fa-fw, 'fa-' . $p->icon"></i>
						<span>
							{$t?->title}
							<span class="text-danger" n:if="$languageData->id !== $targetLanguageData->id"><i class="fas fa-circle-exclamation fa-fw" ></i></span>
						</span>
					</a>
				{/}
				{* *}
{*				{renderMenuItem($p)}*}
			{/}
			{if ($layoutData->hideSidePanel || $layoutData->code === 'cvut') && $cmsUser->isLoggedIn()}
				<hr>
				<div class="side-menu-item languages" n:if="count($webData->translations) > 1 && !$isError && $cmsUser->isLoggedIn()" n:inner-foreach="$webData->translations as $translation">
					{var $l = $dataModel->getLanguageData($translation->language)}
					{var $t = $l->getCollection('translations')->getByKey($languageData->id) ?: $l->getCollection('translations')->getByKey($webData->defaultLanguage)}
					{ifset $availableTranslations[$l->id]}
						{if $cmsUser->isLoggedIn()}
							<a n:if="$t" href="{plink '//this', language: $l->shortcut, do: 'setLanguage'}" n:class="gray, $languageData->id === $l->id ? active" data-tooltip="{$t->title}" data-tooltip-position="right">
								<img src="/dist/images/languages/{$l->shortcut}.svg">
							</a>
						{else}
							<a href="{plink '//default', $pageData->name, $entity?->getParameters(), lang: $l->shortcut}" n:class="gray, $languageData->id === $l->id ? active" data-tooltip="{$t->title}" data-tooltip-position="right">
								<img src="/dist/images/languages/{$l->shortcut}.svg">
							</a>
						{/}
					{else}
						<div n:class="gray, $languageData->id === $l->id ? active" data-tooltip="{$l->getCollection('translations')->getByKey($languageData->id)->title} nedostupné" data-tooltip-position="left">
							<img src="/dist/images/languages/{$l->shortcut}.svg">
						</div>
					{/}
				</div>
				<div class="side-menu-item languages" n:if="isModuleInstalled('style') && $cmsUser->isLoggedIn() && count($themeDatas) > 1 && !$isError" n:inner-foreach="$themeDatas as $themeData">
					{var $translation = $themeData->getCollection('translations')->getByKey($languageData->id) ?: $themeData->getCollection('translations')->getByKey($webData->defaultLanguage)}
					<a n:if="$translation" href="{plink '//this', 'theme' => $themeData->id, 'do' => 'setTheme'}" data-tooltip="{$translation->title}" data-tooltip-position="right">
						<div n:class="badge, rounded-circle, $presenter->template->themeData->code === $themeData->code ? 'text-primary' : 'bg-secondary'" style="{if $presenter->template->themeData->code === $themeData->code}background: white; {/}--bs-badge-padding-x: 0.55em">{$translation->title|truncate:1,''}</div>
					</a>
				</div>
			{/}
		</div>
		<div class="d-flex">
			<a href="javascript:void(0);" class="menu-button side-button user-button" n:if="($cmsUser->isLoggedIn() && !$layoutData->hideSidePanel) || ($hasSearch && !$layoutData->hideSidePanel)"><i n:class="$layoutData->primaryIcon, fa-fw, fa-bars"></i></a>
			<a href="javascript:void(0);" class="menu-button" id="menu-button"><i n:class="$layoutData->code === 'cvut' ? fasl : $layoutData->primaryIcon, fa-fw, fa-bars"></i></a>
		</div>
	</div>
</div>
